@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42;
  /* Slate 900 */
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Custom scrollbar for chat */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-default::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-default::-webkit-scrollbar-track {
  background: #1e293b;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}